<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <h1>HELLO HERE</h1>

    <div class="container">
        <h1 th:text="${title}"></h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book:${list}">
                <th scope="row" th:text="${book.id}"></th>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>