<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h1 th:text="${title}"></h1>
    <a class="btn btn-primary btn-sm" th:href="@{/views/create}" th:text="'New Event'"></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">subject</th>
            <th scope="col">Body</th>
            <th scope="col">From</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record:${list}">
            <th scope="row" th:text="${record.id}"></th>
            <td th:text="${record.date}"></td>
            <td th:text="${record.lat}"></td>
            <td th:text="${record.lon}"></td>
            <td th:text="${record.city}"></td>
            <td th:text="${record.state}"></td>
            <td th:text="${record.temperature}"></td>

            <td>
                <a class="btn btn-success btn-sm" th:href="@{/views/edit/} + ${record.id}"
                   th:text="'Update'"></a>
            </td>

            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/views/delete/} + ${record.id}"
                   th:text="'Delete'"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer th:replace="temp/template :: footer"></footer>
</body>
</html>