<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<p>Hello [[${#httpServletRequest.remoteUser}]]</p>

<div class="container">
    <form th:action="@{/logout}" method="post"></form>
    <input type="submit" value="Logout"/>
</div>
<div>
        <a class="btn btn-success btn-sm" th:href="@{/messages/sent}"
           th:text="'Sent Messages'"></a>
</div>

<div class="container">
    <h1 th:text="${title}"></h1>
    <a class="btn btn-primary btn-sm" th:href="@{/messages/create}" th:text="'New Message'"></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">subject</th>
            <th scope="col">Body</th>
            <th scope="col">From</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message:${inbox}">
           <!--<th scope="row" th:text="${record.id}"></th>-->
            <td th:text="${message.subject}"></td>
            <td th:text="${message.body}"></td>
            <td th:text="${message.sender.username}"></td>

            <td>
                <!-- th:href="@{/views/delete/} + ${message.id}" -->
                <a class="btn btn-danger btn-sm" th:text="'Delete'"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer th:replace="temp/template :: footer"></footer>
</body>
</html>