<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="card bg-light">
        <div class="card-header bg-dark text-white" th:text="${title}"></div>
        <div class="card-body">

            <form>

                <div class="form-group row">
                    <label class="form-label col-md-2">Username</label>
                    <input type="text" class="form-control form-control-sm col-md-4">
                </div>

                <div class="form-group row">
                    <label class="form-label col-md-2">Password</label>
                    <input type="password" class="form-control form-control-sm col-md-4">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        </div>
    </div>
</div>

<footer th:replace="temp/template :: footer"></footer>
</body>
</html>