<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="card bg-light">
            <div class="card-header bg-dark text-white" th:text="${title}"></div>
            <div class="card-body">

        <form th:action="@{/registration/save}" th:object="${user}" method="post">

            <div class="form-group row">
                <label for="sender" class="col-md-2">User Name</label>
                <input type="text" th:field="*{username}" class="form-control form-control-sm col-md-4" id="sender">
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-2">Name</label>
                <input type="text" th:field="*{name}" class="form-control form-control-sm col-md-4" id="name">
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-md-2">Last Name</label>
                <input type="text" th:field="*{lastName}" class="form-control form-control-sm col-md-4" id="lastName">
            </div>

            <div class="form-group row">
                <label for="idNum" class="col-md-2">Id Number</label>
                <input type="number" th:field="*{idDocNumber}" class="form-control form-control-sm col-md-4" id="idNum">
            </div>

            <div class="form-group row">
                <label for="address" class="col-md-2">Address</label>
                <input type="text" th:field="*{address}" class="form-control form-control-sm col-md-4" id="address">
            </div>

            <div class="form-group row">
                <label for="zipCode" class="col-md-2">Zip City Code</label>
                <input type="text" th:field="*{zipCode}" class="form-control form-control-sm col-md-4" id="zipCode">
            </div>

            <div class="form-group row">
                <label for="state" class="col-md-2">State</label>
                <input type="text" th:field="*{state}" class="form-control form-control-sm col-md-4" id="state">
            </div>

            <div class="form-group row">
                <label for="city" class="col-md-2">Country</label>
                <input type="text" th:field="*{city}" class="form-control form-control-sm col-md-4" id="city">
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-2">Password</label>
                <input type="password" th:field="*{password}" class="form-control form-control-sm col-md-4" id="password">
            </div>

            <div>
                <input type="submit" class="btn btn-primary btn-sm">
            </div>

        </form>

</div>
        </div>
    </div>

    <footer th:replace="temp/template :: footer"></footer>
</body>
</html>