<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sents</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

    <div>
    <a class="btn btn-sm" th:href="@{/inbox/}"
       th:text="'Home'"></a>
    </div>

    <div class="container">
        <h1 th:text="${title}"></h1>
        <table class="table table-striped" sec:authorize="isAuthenticated()">
            <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Body</th>
                <th scope="col">To</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message:${list}">
                <td th:text="${message.subject}"></td>
                <td th:text="${message.body}"></td>
                <td th:text="${message.receiver.username}"></td>

                <td>
                    <a class="btn btn-success btn-sm" th:href="@{/inbox/copy/} + ${message.identifier}"
                       th:text="'Send Copy'"></a>
                </td>

                <td>
                    <a class="btn btn-danger btn-sm" th:href="@{/messages/delete/} + ${message.id}"
                       th:text="'Delete'" onclick="return confirm('delete message?');"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>