<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather data</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1 th:text="${title}"></h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Temperature</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data:${list}">
                <th scope="row" th:text="${data.id}"></th>
                <td th:text="${data.date}"></td>
                <td th:text="${data.lat}"></td>
                <td th:text="${data.lon}"></td>
                <td th:text="${data.city}"></td>
                <td th:text="${data.state}"></td>
                <td th:text="${data.temperature}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="templates/template :: footer"></footer>
</body>
</html>


