<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:gragment="head">
    <meta charset="UTF-8">
    <title>Crud Records</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <!-- barra de nav -->
    <header th:fragment="header">

    </header>

    <!--  contenido -->
    <div class="container">

    </div>

    <!--  foot -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
        <div class="container">
            <p>
                <image th:src="@{/images/globant.png}" width=40 height="20"></image>
                Globant Meteorologic service &copy; -2022
            </p>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </footer>

</body>
</html>